<?xml version="1.0"?>

<launch>

  <arg name="velocity" default="0.5" />

  <node pkg="turtlesim" type="turtlesim_node" name="turtlesim" output="screen" />

  <node pkg="ros_test" type="main_node" name="turtle_controll" output="screen" >
    <param name="velocity" value="$(arg velocity)" />
  </node>

</launch>
